* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

section {
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 1fr 1fr 20px;
    grid-template-areas: 
        'primeiro'
        'segundo';
    padding-top: 50px;
    
}

#cabecario-imagem {grid-area: primeiro;}
#login {grid-area: segundo;}

#cabecario-imagem {
    background-image: url(../img/imagem-perfil.png);
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
    left: 25%;
}

section > div {
   
    width: 500px;
    padding-top: 10px;    
}


#login {
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;
    width: 100%;
   
}
#nomeUsuario {
    text-align: center;
}
#botao {
    text-align: center;
}

input {
    border-color: black;
    border-radius: 5px;
}

button {
    width: 150px;
    height: 50px;
    position: relative;
    top: 10px;

}
button:hover {
    background-color: #1877F2;
}
#botaoCelular {
    border: 1px solid black;
    border-radius: 2px;
    width: 45%;
    height: 20%;
    position: relative;
    bottom: 100%;
    left: 28%;
}