* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'DM Serif Text', serif;
    background: #0f172a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}



.phone {
    background-color: #1e293b;
    width: 350px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bloco {
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 90%; 
    padding: 15px 10px;
    resize: none;
    border: 1px solid #000;
    font-size: 15px;
}

.butao {
    position: relative;
    left: 145px;
    width: 30px;
    border: none;
    top: -10px;
    background: none;
    display: flex;
    flex-direction: column;
}

.voltar {
    position: relative;
    top: -520px;
    left: -135px;
    width: 35px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
}
