* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#celular {
    padding: 10px;
    
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#perfil {
    border: 1px solid black;
    border-radius: 100%;
}
#pesquisaLista {
    
    position: relative;
    display: inline-block;
}
#imagemUsuario {
    width: 50px;
}
#lupa {
    width: 20px;
}

#pesquisaLista img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
      
}


#pesquisaInput{
    padding-left: 40px;
    height: 30px;
} 

